<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>首頁</title>

    <!-- core CSS -->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/rotate.css" rel="stylesheet">
    <link rel="stylesheet" href="css/slider.css" type="text/css">
    <link type="text/css" rel="stylesheet" href="css/liquidcarousel.css" />


    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.9.0.custom.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-tabs-rotate.js"></script>
    <script src="js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="js/jquery.liquidcarousel.pack.js"></script>
    <script src="js/backtop.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#featured").tabs({
                fx: {
                    opacity: "toggle"
                }
            }).tabs("rotate", 5000, true);


            $('.flexslider').flexslider({
                animation: 'fade',
                controlsContainer: '.flexslider'
            });


            $('#liquid1').liquidcarousel({
                height: 225, //the height of the list
                duration: 500, //the duration of the animation
                hidearrows: true //hide arrows if all of the list items are visible
            });

        });
    </script>



</head>

<!--/head-->

<body>

    <!-- top sample 
   
    <div class="full-wrapper">
    		<div class="wrapper"></div>
    </div>
    
    -->


    <!-- 版頭區塊開始 －－－－－－－－－－  -->

    <!-- top-header -->

    <div class="outer-header">
        <div class="header">
            <div class="hlogo"><img src="images/logo.png">
            </div>
            <div class="hsscollum">
                <div class="hc-search">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input class="form-control" value="搜尋" type="text">
                            <a class="searchicon" href="#"><img src="images/searchicon.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="hc-share">
                    <a href="#"><img src="images/sharefb.png">
                    </a>
                    <a href="#"><img src="images/sharemail.png">
                    </a>
                    <a href="#"><img src="images/sharerss.png">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- top menu -->
    <div class="outer-hmenu">
        <div class="hmenu">
            <div class="hmenu-left">
                <ul>
                    <li><a href="index.php">首頁</a>
                    </li>
                    <li><a href="about.html">創辦理念</a>
                    </li>
                    <li><a href="software.html">理財軟體</a>
                    </li>
                    <li>
                        <a href="full-lectural.html">專欄作家</a>
                        <ul class="radiusall shadowall">
                            <li><a href="lectural.html">張老師</a>
                            </li>
                            <li><a href="lectural.html">林老師</a>
                            </li>
                            <li><a href="lectural.html">王老師</a>
                            </li>
                            <li><a href="lectural.html">劉老師</a>
                            </li>
                            <li><a href="lectural.html">陳老師</a>
                            </li>
                            <li><a href="lectural.html">張老師</a>
                            </li>
                            <li><a href="lectural.html">張老師</a>
                            </li>
                            <li><a href="lectural.html">林老師</a>
                            </li>
                            <li><a href="lectural.html">王老師</a>
                            </li>
                            <li><a href="lectural.html">劉老師</a>
                            </li>
                            <li><a href="lectural.html">陳老師</a>
                            </li>
                            <li><a href="lectural.html">張老師</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="finance.html">財經數據</a>
                    </li>
                    <li><a href="market.html">商城</a>
                    </li>
                    <li><a href="course.html">課程</a>
                    </li>
                    <li><a href="video.html">影音</a>
                    </li>
                    <li><a href="contactus.html">客服信箱</a>
                    </li>
                </ul>
            </div>
            <div class="hmenu-right">
                <ul>
                    <li class="mailpart">
                        <a href="member02.html"><img src="images/mailicon.png">
                        </a>
                    </li>
                    <li>
                        <a href="member.html"><img src="images/headlogin.png"> 登入</a>
                    </li>
                    <li><a href="member.html">註冊</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>




    <div class="outer-instmeaasge">
        <div class="instmeaasge">
            <div class="instm-left instalong"><span class="title">即時訊息</span> > <a href="#">每日盤前及盤後分析，且不定期刊登投資報告 , 認真閱讀， 認真學習，一同創造美好未來！！</a>
            </div>
            <!--        <div class="instm-right"><img src="images/videoicon.png"> 每日推薦影音</div>-->
        </div>
    </div>

    <div class="fcontainer">
        <div class="section group">
            <div class="fmc-right col span_4_of_4">

                <div class="backmarket">
                    <a class="btn btn-primary btn-lg btn-block graybt01" role="button" href="market.html"><i class="fa fa-chevron-circle-left graycolor"></i> 回到商品列表</a>
                </div>

            </div>
        </div>
    </div>


    <div class="fcontainer">
        <div class="section group fmaincontain">

            <div class="fmc-right col span_4_of_4">

                <div class="inpsub-page radiusall shadowall">
                    <div class="inpsub-pagehead radiusall">
                        <div class="inpsub-pagehead-rtitle">購物清單</div>
                    </div>
                    <div class="outer-goprocess">

                        <div class="form-group" align="center">
                            <table class="table table-bordered" style="width: 97%">
                                <tbody>
                                    <tr>
                                        <th class="active" style="width: 45%">商品名稱 </th>
                                        <th class="active" style="width: 15%">商品總類</th>
                                        <th class="active" style="width: 10%">單價</th>
                                        <th class="active" style="width: 10%">數量</th>
                                        <th class="active" style="width: 10%">小計</th>
                                        <th class="active" style="width: 10%"></th>
                                    </tr>
                                    <tr>
                                        <td>獲利領息價值股ㄈ投資獲利領 </td>
                                        <td>理財軟體</td>
                                        <td>2500</td>
                                        <td>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                            </select>
                                        </td>
                                        <td>2500</td>
                                        <td>
                                            <button class="btn btn-default btn-sm btn-block ">刪除</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>獲利領息價值股ㄈ投資獲利領 </td>
                                        <td>理財軟體</td>
                                        <td>2500</td>
                                        <td>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                            </select>
                                        </td>
                                        <td>2500</td>
                                        <td>
                                            <button class="btn btn-default btn-sm btn-block ">刪除</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>獲利領息價值股ㄈ投資獲利領 </td>
                                        <td>理財軟體</td>
                                        <td>2500</td>
                                        <td>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                            </select>
                                        </td>
                                        <td>2500</td>
                                        <td>
                                            <button class="btn btn-default btn-sm btn-block ">刪除</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>獲利領息價值股ㄈ投資獲利領 </td>
                                        <td>理財軟體</td>
                                        <td>2500</td>
                                        <td>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                            </select>
                                        </td>
                                        <td>2500</td>
                                        <td>
                                            <button class="btn btn-default btn-sm btn-block ">刪除</button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>


                        </div>

                        <div class="calprice">
                            <div class="priceblk">小計：<span class="redcolor"> 7500 元 </span>
                            </div>
                            <div class="priceblk">數量：<span class="brownclr"> 3 </span>
                            </div>

                        </div>
                        <div class="allbtline"></div>
                        <div class="calprice">

                            <div class="priceblk fontmedg">金額總計：<span class="redcolor fontmedg">7500 元 </span>
                            </div>
                            <div class="priceblk fontmedg">總計<span class="brownclr"> 6 </span>項商品</div>
                        </div>

                    </div>
                </div>


                <div class="goprocess">

                    <div class="gpssblk"><a class="btn btn-primary btn-lg btn-block blkbt01" role="button" href="goprocess.html"><i class="fa fa-shopping-cart brownclr"></i> 前往付款</a>
                    </div>
                    <div class="gpssblk fontmedg brownclr"><a href="market.html">我要選擇更多</a>
                    </div>
                </div>


                <div class="inpsub-page radiusall shadowall">
                    <div class="inpsub-pagehead radiusall">
                        <div class="inpsub-pagehead-rtitle">購買須知</div>
                    </div>
                    <div class="inpsub-pagehead-rscontent">
                        <div class="inpsub-courselt">

                            <div class="inpsub-coureinp-med">
                                <div class="inpsub-coureinp-ctnbox">


                                    <p class="brownclr fontmedg">付款方式：</p>


                                    <p> (一)飆股搜尋：可多頭、空頭雙向選股，自定篩選區間，任意勾選多重條件，更精準選出同時滿足技術面。</p>
                                    <p> (二)飆股搜尋：，更你可以用績效分析功能回溯績效。</p>
                                    <p> 贈送18個百寶箱工具：嗚槍起漲強勢股、定存股大集合、營收衰退股價破底、長期整理失敗大跌、楚狂人私藏選股、主升段進行式、多頭反敗為勝。</p>
                                    <p> (三)飆股搜尋：可多頭、空頭雙向選股，自定篩選區間，任意勾選多重條件，。</p>

                                    </br>


                                    <p class="brownclr fontmedg">運送方式：</p>



                                    1.什麼是「好權證」的定義，別選到地雷！</br>
                                    2.盤後該如何自己研究主力的進出情況</br>
                                    3.判斷主力的籌碼和布局</br>
                                    4.停損及資金配置的概念</br>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>



                <!--
                <div class="inpsub-page radiusall shadowall">

                        <div class="inpsub-pagehead-rscontent">
                            XXX
                        </div>

                </div>
-->


            </div>

        </div>

        <a href="#0" class="back-top"></a>

    </div>








    </div>
    <!-- 內容區塊開始 －－－－－－－－－－  -->


    <div class="outer-footer">
        <div class="pfooter section group">

            <div class="copyright col span_5_of_6">
                <p>讀者服務專線：886-2-2662-0332　傳真電話：886-2-2662-6048　 服務時間：週一～週五：9:00~17:30</p>
                <p>本網站資訊 由實戰操盤室所有 若有任何建議或疑問請與我們連繫 Copyright © MakeMoney All Rights Reserved</p>
            </div>

            <div class="share col span_1_of_6">
                <p>追蹤實戰操盤室 +</p>
                <a class="shareablk" href="#"><img src="images/sharerss.png">
                </a>
                <a class="shareablk" href="#"><img src="images/sharemail.png">
                </a>
                <a class="shareablk" href="#"><img src="images/sharefb.png">
                </a>
            </div>

        </div>
    </div>





    <!-- 版頭區塊結束 －－－－－－－－－－  -->







    <!-- 版尾結束 －－－－－－－－－－  -->









</body>

</html>