<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>首頁</title>

    <!-- core CSS -->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/rotate.css" rel="stylesheet">
    <link rel="stylesheet" href="css/slider.css" type="text/css">
    <link type="text/css" rel="stylesheet" href="css/liquidcarousel.css" />


    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.9.0.custom.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-tabs-rotate.js"></script>
    <script src="js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="js/jquery.liquidcarousel.pack.js"></script>
    <script src="js/backtop.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#featured").tabs({
                fx: {
                    opacity: "toggle"
                }
            }).tabs("rotate", 5000, true);


            $('.flexslider').flexslider({
                animation: 'fade',
                controlsContainer: '.flexslider'
            });


            $('#liquid1').liquidcarousel({
                height: 225, //the height of the list
                duration: 500, //the duration of the animation
                hidearrows: true //hide arrows if all of the list items are visible
            });

        });
    </script>



</head>

<!--/head-->

<body>

    <!-- top sample 
   
    <div class="full-wrapper">
    		<div class="wrapper"></div>
    </div>
    
    -->


    <!-- 版頭區塊開始 －－－－－－－－－－  -->

    <!-- top-header -->

    <div class="outer-header">
        <div class="header">
            <div class="hlogo"><img src="images/logo.png">
            </div>
            <div class="hsscollum">
                <div class="hc-search">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input class="form-control" value="搜尋" type="text">
                            <a class="searchicon" href="#"><img src="images/searchicon.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="hc-share">
                    <a href="#"><img src="images/sharefb.png">
                    </a>
                    <a href="#"><img src="images/sharemail.png">
                    </a>
                    <a href="#"><img src="images/sharerss.png">
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!-- top menu -->
    <div class="outer-hmenu">
        <div class="hmenu">
            <div class="hmenu-left">
                <ul>
                    <li><a href="#">首頁</a>
                    </li>
                    <li><a href="#">創辦理念</a>
                    </li>
                    <li><a href="#">理財軟體</a>
                    </li>
                    <li>
                        <a href="#">專欄作家</a>
                        <ul class="radiusall shadowall">
                            <li><a href="#">張老師</a>
                            </li>
                            <li><a href="#">林老師</a>
                            </li>
                            <li><a href="#">王老師</a>
                            </li>
                            <li><a href="#">劉老師</a>
                            </li>
                            <li><a href="#">陳老師</a>
                            </li>
                            <li><a href="#">張老師</a>
                            </li>
                            <li><a href="#">張老師</a>
                            </li>
                            <li><a href="#">林老師</a>
                            </li>
                            <li><a href="#">王老師</a>
                            </li>
                            <li><a href="#">劉老師</a>
                            </li>
                            <li><a href="#">陳老師</a>
                            </li>
                            <li><a href="#">張老師</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">財經數據</a>
                    </li>
                    <li><a href="#">商城</a>
                    </li>
                    <li><a href="#">課程</a>
                    </li>
                    <li><a href="#">影音</a>
                    </li>
                    <li><a href="#">客服信箱</a>
                    </li>
                </ul>
            </div>
            <div class="hmenu-right">
                <ul>
                    <li class="mailpart">
                        <a href="#"><img src="images/mailicon.png">
                        </a>
                    </li>
                    <li>
                        <a href="#"><img src="images/headlogin.png"> 登入</a>
                    </li>
                    <li><a href="#">註冊</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>



    <div class="outer-instmeaasge">
        <div class="instmeaasge">
            <div class="instm-left instalong"><span class="title">即時訊息</span> > <a href="#">每日盤前及盤後分析，且不定期刊登投資報告 , 認真閱讀， 認真學習，一同創造美好未來！！</a>
            </div>
            <!--        <div class="instm-right"><img src="images/videoicon.png"> 每日推薦影音</div>-->
        </div>
    </div>

    <div class="section group">
        <div class="outerbreadc fmc-left col span_4_of_4">

            <div class="breadc">
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i> 首頁</a>
                    </li>
                    <li><a href="#">專欄作家</a>
                    </li>
                    <li class="active">所有老師</li>
                </ol>
            </div>

        </div>
    </div>

    <div class="fcontainer">
        <div class="section group fmaincontain">
            <div class="fmc-left col span_1_of_4">

                <div class="inp-submenu radiusall shadowall">

                    <div class="imp-head radiussmenu">商城</div>
                    <div class="imp-menulist">
                        <ul>
                            <li class="select">
                                <a class="shadowall" href="#">投資理財</a>
                                <ul>
                                    <li>國票理財</li>
                                    <li>房地產理財</li>
                                    <li>投資理財</li>
                                    <li>國票理財</li>
                                    <li>房地產理財</li>
                                </ul>
                            </li>

                            <li class="select">
                                <a class="shadowall" href="#">其他理財</a>
                                <ul>
                                    <li class="select"><a href="#">國票理財</a>
                                    </li>
                                    <li>房地產理財</li>
                                    <li>投資理財</li>
                                    <li>國票理財</li>
                                    <li>房地產理財</li>
                                </ul>
                            </li>

                        </ul>
                    </div>

                </div>


                <div class="inp-submenu radiusall shadowall">

                    <div class="imp-head02 radiussmenu">商品排行</div>
                    <div class="index-type8-padding">
                        <div class="indexcol-type8">
                            <a href="#">
                                <div class="indexcol-type8-cont">
                                    <div class="title"><span class="status1">Top1</span>盤前分析部分台灣</div>
                                </div>
                            </a>
                        </div>

                        <div class="indexcol-type8">
                            <a href="#">
                                <div class="indexcol-type8-cont">
                                    <div class="title"><span class="status1">Top2</span>盤前分析部分台灣</div>
                                </div>
                            </a>
                        </div>

                        <div class="indexcol-type8">
                            <a href="#">
                                <div class="indexcol-type8-cont">
                                    <div class="title"><span class="status1">Top3</span>盤前分析部分台灣品</div>
                                </div>
                            </a>
                        </div>

                        <div class="indexcol-type8">
                            <a href="#">
                                <div class="indexcol-type8-cont">
                                    <div class="title"><span class="status2">Top4</span>盤前分析部分上品迎頭趕上</div>
                                </div>
                            </a>
                        </div>

                        <div class="indexcol-type8">
                            <a href="#">
                                <div class="indexcol-type8-cont">
                                    <div class="title"><span class="status2">Top5</span>盤前分析部分台灣迎頭趕</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="imp-menuadvert">
                    <img src="images/gooads.jpg">
                </div>

            </div>




            <div class="fmc-right col span_3_of_4">

                <div class="inpsub-page radiusall shadowall">
                    <div class="inpsub-pagehead radiusall">
                        <div class="inpsub-pagehead-rtitle">商品詳情</div>
                    </div>
                    <div class="inpsub-pagehead-rscontent">
                        <div class="inp-marketdet">
                            <div class="inp-marketdet-img">
                                <img src="images/course.jpg" alt="">
                            </div>
                            <div class="inp-marketdet-content">
                                <div class="marketc-title brownclr">獲利領息價值股</div>
                                <div class="marketc-info">
                                    <div class="mkdet delp">定價：2400 元</div>
                                    <div class="mkdet">商品分類：投資一把抓</div>
                                    <div class="mkdet">特價：<span class="redcolor">1880 元 </span>
                                    </div>
                                    <div class="mkdet">商品品牌：玩股網</div>
                                </div>
                                <div class="marketc-others">
                                    <div class="mkdet">＊飆股搜尋：讓你愛怎麼搜，就怎麼搜</div>
                                    <div class="mkdet">＊飆股通知：每日盤中即時通知，不漏失賺錢的好機會</div>
                                    <div class="mkdet">＊停損停利通知：搭配停損，讓你賺多賠少</div>
                                    <div class="mkdet">＊再加贈送18個百寶箱工具，現賺$5,382</div>
                                </div>
                                <div class="marketc-toshop">
                                    <div class="mkcount">數量</div>
                                    <div class="mkcount">
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                        </select>
                                    </div>
                                    <div class="mkdet">
                                        <div class="btn btn-primary btn-md btn-block yelbt01">
                                            <a href="gocart.html">+加入購物車</a>
                                        </div>
                                    </div>
                                    <div class="mkdet">
                                        <div class="btn btn-primary btn-md btn-block blkbt01">
                                            <a href="gocart.html">前往付款</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>


                <div class="inpsub-page radiusall shadowall">
                    <div class="inpsub-pagehead radiusall">
                        <div class="inpsub-pagehead-rtitle">商品介紹</div>
                    </div>
                    <div class="inpsub-pagehead-rscontent">
                        <div class="inpsub-courselt">

                            <div class="inpsub-coureinp-med">
                                <div class="inpsub-coureinp-ctnbox">

                                    <p class="brownclr fontmedg">主要功能介紹與服務 </p>

                                    <p> (一)飆股搜尋：可多頭、空頭雙向選股，自定篩選區間，任意勾選多重條件，更精準選出同時滿足技術面＋基本面＋籌碼面的股票，還可記憶你專屬的篩選方法，不必每次重新勾選條件，不知道用這個選股方法效果如何？你可以用績效分析功能回溯績效。</p>
                                    <p> (一)飆股搜尋：，更精準選出同時滿足技術面＋基本面＋籌碼面的股票，還可記憶你專屬的篩選方法，不必每次重新勾選條件，不知道用這個選股方法效果如何？你可以用績效分析功能回溯績效。</p>
                                    <p> 贈送18個百寶箱工具：嗚槍起漲強勢股、定存股大集合、營收衰退股價破底、長期整理失敗大跌、楚狂人私藏選股、主升段進行式、多頭反敗為勝。</p>
                                    <p> (一)飆股搜尋：可多頭、空頭雙向選股，自定篩選區間，任意勾選多重條件，更精準選出同時滿足技術面＋基本面＋籌碼面的股票，還可記憶你專屬的篩選方法，不必每次重新勾選條件。</p>

                                    </br>
                                    <p class="brownclr fontmedg">特別加贈：</p>

                                    <p>贈送18個百寶箱工具：嗚槍起漲強勢股、定存股大集合、營收衰退股價破底、長期整理失敗大跌、楚狂人私藏選股、主升段進行式、多頭反敗為勝、空頭攻擊多頭潰敗、波段上漲切入點、波段下跌切入點、萬里長多飆漲股、萬里長空飆跌股、整理成功乘勝追擊、散戶套牢跌勢起動、軍團長1-2-3戰法、軍團長多頭選股設定1、軍團長多頭選股設定2、軍團長多頭選股設定3</p>
                                    </br>
                                    <p class="brownclr fontmedg">你將學到以下技巧：</p>

                                    1.什麼是「好權證」的定義，別選到地雷！</br>
                                    2.盤後該如何自己研究主力的進出情況</br>
                                    3.判斷主力的籌碼和布局</br>
                                    4.停損及資金配置的概念</br>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="inpsub-page radiusall shadowall">
                    <div class="inpsub-pagehead radiusall">
                        <div class="inpsub-pagehead-rtitle">商品備註</div>
                    </div>
                    <div class="inpsub-pagehead-rscontent">
                        <div class="inpsub-courselt">

                            <div class="inpsub-coureinp-med">
                                <div class="inpsub-coureinp-ctnbox">


                                    <p class="brownclr fontmedg">付款方式：</p>


                                    <p> (一)飆股搜尋：可多頭、空頭雙向選股，自定篩選區間，任意勾選多重條件，更精準選出同時滿足技術面。</p>
                                    <p> (二)飆股搜尋：，更你可以用績效分析功能回溯績效。</p>
                                    <p> 贈送18個百寶箱工具：嗚槍起漲強勢股、定存股大集合、營收衰退股價破底、長期整理失敗大跌、楚狂人私藏選股、主升段進行式、多頭反敗為勝。</p>
                                    <p> (三)飆股搜尋：可多頭、空頭雙向選股，自定篩選區間，任意勾選多重條件，。</p>

                                    </br>


                                    <p class="brownclr fontmedg">運送方式：</p>



                                    1.什麼是「好權證」的定義，別選到地雷！</br>
                                    2.盤後該如何自己研究主力的進出情況</br>
                                    3.判斷主力的籌碼和布局</br>
                                    4.停損及資金配置的概念</br>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>




                <!--
                <div class="inpsub-page radiusall shadowall">

                        <div class="inpsub-pagehead-rscontent">
                            XXX
                        </div>

                </div>
-->


            </div>

        </div>

        <a href="#0" class="back-top"></a>

    </div>



    </div>
    <!-- 內容區塊開始 －－－－－－－－－－  -->


    <div class="outer-footer">
        <div class="pfooter section group">

            <div class="copyright col span_5_of_6">
                <p>讀者服務專線：886-2-2662-0332　傳真電話：886-2-2662-6048　 服務時間：週一～週五：9:00~17:30</p>
                <p>本網站資訊 由實戰操盤室所有 若有任何建議或疑問請與我們連繫 Copyright © MakeMoney All Rights Reserved</p>
            </div>

            <div class="share col span_1_of_6">
                <p>追蹤實戰操盤室 +</p>
                <a class="shareablk" href="#"><img src="images/sharerss.png">
                </a>
                <a class="shareablk" href="#"><img src="images/sharemail.png">
                </a>
                <a class="shareablk" href="#"><img src="images/sharefb.png">
                </a>
            </div>

        </div>
    </div>





    <!-- 版頭區塊結束 －－－－－－－－－－  -->







    <!-- 版尾結束 －－－－－－－－－－  -->









</body>

</html>