<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>首頁</title>

    <!-- core CSS -->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/rotate.css" rel="stylesheet">
    <link rel="stylesheet" href="css/slider.css" type="text/css">
    <link type="text/css" rel="stylesheet" href="css/liquidcarousel.css" />


    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.9.0.custom.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-tabs-rotate.js"></script>
    <script src="js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="js/jquery.liquidcarousel.pack.js"></script>
    <script src="js/backtop.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#featured").tabs({
                fx: {
                    opacity: "toggle"
                }
            }).tabs("rotate", 5000, true);


            $('.flexslider').flexslider({
                animation: 'fade',
                controlsContainer: '.flexslider'
            });


            $('#liquid1').liquidcarousel({
                height: 225, //the height of the list
                duration: 500, //the duration of the animation
                hidearrows: true //hide arrows if all of the list items are visible
            });

        });
    </script>



</head>

<!--/head-->

<body>

    <!-- top sample 
   
    <div class="full-wrapper">
    		<div class="wrapper"></div>
    </div>
    
    -->


    <!-- 版頭區塊開始 －－－－－－－－－－  -->

    <!-- top-header -->

    <div class="outer-header">
        <div class="header">
            <div class="hlogo"><img src="images/logo.png">
            </div>
            <div class="hsscollum">
                <div class="hc-search">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input class="form-control" value="搜尋" type="text">
                            <a class="searchicon" href="#"><img src="images/searchicon.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="hc-share">
                    <a href="#"><img src="images/sharefb.png">
                    </a>
                    <a href="#"><img src="images/sharemail.png">
                    </a>
                    <a href="#"><img src="images/sharerss.png">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-hmenu">
        <div class="hmenu">
            <div class="hmenu-left">
                <ul>
                    <li><a href="index.html">首頁</a>
                    </li>
                    <li ><a href="about.html">創辦理念</a>
                    </li>
                    <li  class="select"><a href="software.html">理財軟體</a>
                    </li>
                    <li>
                        <a href="full-lectural.html">專欄作家</a>
                        <ul class="radiusall shadowall">
                            <li><a href="lectural.html">張老師</a>
                            </li>
                            <li><a href="lectural.html">林老師</a>
                            </li>
                            <li><a href="lectural.html">王老師</a>
                            </li>
                            <li><a href="lectural.html">劉老師</a>
                            </li>
                            <li><a href="lectural.html">陳老師</a>
                            </li>
                            <li><a href="lectural.html">張老師</a>
                            </li>
                            <li><a href="lectural.html">張老師</a>
                            </li>
                            <li><a href="lectural.html">林老師</a>
                            </li>
                            <li><a href="lectural.html">王老師</a>
                            </li>
                            <li><a href="lectural.html">劉老師</a>
                            </li>
                            <li><a href="lectural.html">陳老師</a>
                            </li>
                            <li><a href="lectural.html">張老師</a>
                            </li>
                        </ul>
                    </li>
                    <li ><a  href="finance.html">財經數據</a>
                    </li>
                    <li><a href="market.html">商城</a>
                    </li>
                    <li><a href="course.html">課程</a>
                    </li>
                    <li><a href="video.html">影音</a>
                    </li>
                    <li ><a href="contactus.html">客服信箱</a>
                    </li>
                </ul>
            </div>
            <div class="hmenu-right">
                <ul>
                    <li class="mailpart">
                        <a href="member02.html"><img src="images/mailicon.png">
                        </a>
                    </li>
                    <li>
                        <a href="member.html"><img src="images/headlogin.png"> 登入</a>
                    </li>
                    <li><a href="member.html">註冊</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="outer-instmeaasge">
        <div class="instmeaasge">
            <div class="instm-left instalong"><span class="title">即時訊息</span> > <a href="#">每日盤前及盤後分析，且不定期刊登投資報告 , 認真閱讀， 認真學習，一同創造美好未來！！</a>
            </div>
            <!--        <div class="instm-right"><img src="images/videoicon.png"> 每日推薦影音</div>-->
        </div>
    </div>

    <div class="section group">
        <div class="outerbreadc fmc-left col span_4_of_4">

            <div class="breadc">
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i> 首頁</a>
                    </li>
                    <li><a href="#">專欄作家</a>
                    </li>
                    <li class="active">所有老師</li>
                </ol>
            </div>

        </div>
    </div>

    <div class="fcontainer">
        <div class="section group fmaincontain">
            <div class="fmc-left col span_1_of_4">

                <div class="inp-submenu radiusall shadowall">

                    <div class="imp-head radiussmenu">軟體</div>
                    <div class="imp-menulist">
                        <ul>
                            <li class="select">
                                <a class="shadowall" href="#">投資理財</a>
                                <ul>
                                    <li>國票理財</li>
                                    <li>房地產理財</li>
                                    <li>投資理財</li>
                                    <li>國票理財</li>
                                    <li>房地產理財</li>
                                </ul>
                            </li>

                            <li class="select">
                                <a class="shadowall" href="#">其他理財</a>
                                <ul>
                                    <li class="select"><a href="#">國票理財</a>
                                    </li>
                                    <li>房地產理財</li>
                                    <li>投資理財</li>
                                    <li>國票理財</li>
                                    <li>房地產理財</li>
                                </ul>
                            </li>

                        </ul>
                    </div>

                </div>


                <div class="inp-submenu radiusall shadowall">

                    <div class="imp-head02 radiussmenu">軟體排行</div>
                    <div class="index-type8-padding">
                        <div class="indexcol-type8">
                            <a href="#">
                                <div class="indexcol-type8-cont">
                                    <div class="title"><span class="status1">Top1</span>盤前分析部分台灣</div>
                                </div>
                            </a>
                        </div>

                        <div class="indexcol-type8">
                            <a href="#">
                                <div class="indexcol-type8-cont">
                                    <div class="title"><span class="status1">Top2</span>盤前分析部分台灣</div>
                                </div>
                            </a>
                        </div>

                        <div class="indexcol-type8">
                            <a href="#">
                                <div class="indexcol-type8-cont">
                                    <div class="title"><span class="status1">Top3</span>盤前分析部分台灣品</div>
                                </div>
                            </a>
                        </div>

                        <div class="indexcol-type8">
                            <a href="#">
                                <div class="indexcol-type8-cont">
                                    <div class="title"><span class="status2">Top4</span>盤前分析部分上品迎頭趕上</div>
                                </div>
                            </a>
                        </div>

                        <div class="indexcol-type8">
                            <a href="#">
                                <div class="indexcol-type8-cont">
                                    <div class="title"><span class="status2">Top5</span>盤前分析部分台灣迎頭趕</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="imp-menuadvert">
                    <img src="images/gooads.jpg">
                </div>

            </div>




            <div class="fmc-right col span_3_of_4">

                <div class="inpsub-page radiusall shadowall">
                    <div class="inpsub-pagehead radiusall">
                        <div class="inpsub-pagehead-rtitle">所有軟體</div>
                        <div class="inpsub-pagehead-rsmenu">
                            <ul>
                                <li class="select"><a href="#">所有</a>
                                </li>
                                <li><a href="#">免費</a>
                                </li>
                                <li><a href="#">付費</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="inpsub-pagehead-rscontent">

                        <div class="inpsub-videolt">
                            <div class="inp-videobox">
                                <div class="inp-softimgbox">
                                        <img src="images/softwareicon.png">
                                </div>
                                <div class="inp-vcontentbox softcont">
                                    <div class="vctitle brownclr">7/18 籌碼K線</div>
                                    <div class="vcintro">
                                        超過60萬人愛用的"籌碼K線"軟體，股市投資人不可或缺的工具。可完整呈現「分點」券商進出表、主力籌碼、三大法人布局。簡單、好用，包含多種籌碼選股功能、分析贏家大戶，主力進出無所遁形！馬上開啟即可免費使用！
                                    </div>
                                    <div class="vcother">
                                        <div>定價：<span class="redcolor">免費</span>
                                        </div>
                                        <div class="addcart">
                                            <div class="btn btn-primary btn-md btn-block yelbt01">
                                                <a href="marketinp.html">加入購物車</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="allbtline"></div>
                            </div>

                            <div class="inp-videobox">
                                <div class="inp-softimgbox">
                                        <img src="images/softwareicon.png">
                                </div>
                                <div class="inp-vcontentbox softcont">
                                    <div class="vctitle brownclr">7/18 籌碼K線</div>
                                    <div class="vcintro">
                                        超過60萬人愛用的"籌碼K線"軟體，股市投資人不可或缺的工具。可完整呈現「分點」券商進出表、主力籌碼、三大法人布局。簡單、好用，包含多種籌碼選股功能、分析贏家大戶，主力進出無所遁形！馬上開啟即可免費使用！
                                    </div>
                                    <div class="vcother">
                                        <div>定價：<span class="redcolor">免費</span>
                                        </div>
                                        <div class="addcart">
                                            <div class="btn btn-primary btn-md btn-block yelbt01">
                                                <a href="marketinp.html">加入購物車</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="allbtline"></div>
                            </div>
                           
                            <div class="inp-videobox">
                                <div class="inp-softimgbox">
                                        <img src="images/softwareicon.png">
                                </div>
                                <div class="inp-vcontentbox softcont">
                                    <div class="vctitle brownclr">7/18 籌碼K線</div>
                                    <div class="vcintro">
                                        超過60萬人愛用的"籌碼K線"軟體，股市投資人不可或缺的工具。可完整呈現「分點」券商進出表、主力籌碼、三大法人布局。簡單、好用，包含多種籌碼選股功能、分析贏家大戶，主力進出無所遁形！馬上開啟即可免費使用！
                                    </div>
                                    <div class="vcother">
                                        <div>定價：<span class="redcolor">NT2300</span>
                                        </div>
                                        <div class="addcart">
                                            <div class="btn btn-primary btn-md btn-block yelbt01">
                                                <a href="marketinp.html">加入購物車</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="allbtline"></div>
                            </div>
                        </div>

                            <div class="inp-videobox">
                                <div class="inp-softimgbox">
                                        <img src="images/softwareicon.png">
                                </div>
                                <div class="inp-vcontentbox softcont">
                                    <div class="vctitle brownclr">7/18 籌碼K線</div>
                                    <div class="vcintro">
                                        超過60萬人愛用的"籌碼K線"軟體，股市投資人不可或缺的工具。可完整呈現「分點」券商進出表、主力籌碼、三大法人布局。簡單、好用，包含多種籌碼選股功能、分析贏家大戶，主力進出無所遁形！馬上開啟即可免費使用！
                                    </div>
                                    <div class="vcother">
                                        <div>定價：<span class="redcolor">NT800</span>
                                        </div>
                                        <div class="addcart">
                                            <div class="btn btn-primary btn-md btn-block yelbt01">
                                                <a href="marketinp.html">加入購物車</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="allbtline"></div>
                            </div>
                            
                            <div class="inp-videobox">
                                <div class="inp-softimgbox">
                                        <img src="images/softwareicon.png">
                                </div>
                                <div class="inp-vcontentbox softcont">
                                    <div class="vctitle brownclr">7/18 籌碼K線</div>
                                    <div class="vcintro">
                                        超過60萬人愛用的"籌碼K線"軟體，股市投資人不可或缺的工具。可完整呈現「分點」券商進出表、主力籌碼、三大法人布局。簡單、好用，包含多種籌碼選股功能、分析贏家大戶，主力進出無所遁形！馬上開啟即可免費使用！
                                    </div>
                                    <div class="vcother">
                                        <div>定價：<span class="redcolor">免費</span>
                                        </div>
                                        <div class="addcart">
                                            <div class="btn btn-primary btn-md btn-block yelbt01">
                                                <a href="marketinp.html">加入購物車</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="allbtline"></div>
                            </div>
                       
                        <div class="paging-inpage">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="active"><a href="#">1</a>
                                </li>
                                <li><a href="#">2</a>
                                </li>
                                <li><a href="#">3</a>
                                </li>
                                <li><a href="#">4</a>
                                </li>
                                <li><a href="#">5</a>
                                </li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>

                            </ul>
                        </div>


                    </div>
                </div>


                <!--
                <div class="inpsub-page radiusall shadowall">

                        <div class="inpsub-pagehead-rscontent">
                            XXX
                        </div>

                </div>
-->


            </div>

        </div>

        <a href="#0" class="back-top"></a>

    </div>



    
    <!-- 內容區塊開始 －－－－－－－－－－  -->


    <div class="outer-footer">
        <div class="pfooter section group">

            <div class="copyright col span_5_of_6">
                <p>讀者服務專線：886-2-2662-0332　傳真電話：886-2-2662-6048　 服務時間：週一～週五：9:00~17:30</p>
                <p>本網站資訊 由實戰操盤室所有 若有任何建議或疑問請與我們連繫 Copyright © MakeMoney All Rights Reserved</p>
            </div>

            <div class="share col span_1_of_6">
                <p>追蹤實戰操盤室 +</p>
                <a class="shareablk" href="#"><img src="images/sharerss.png">
                </a>
                <a class="shareablk" href="#"><img src="images/sharemail.png">
                </a>
                <a class="shareablk" href="#"><img src="images/sharefb.png">
                </a>
            </div>

        </div>
    </div>





</body>

</html>